

    .main__item{

        width: 311px;
        list-style-type: none;
        margin-top: 1rem;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        padding: 0 .3rem;

        .main__link{

            position: relative;


            .main__img{

                width: 100%;
                &:hover > .hover{

                    opacity: 1  ;
                }
                &:not( :hover ) > .hover > span > svg{
                    
                    animation: pauset linear .2s;
                    animation-fill-mode: forwards;
                }

                img{
                    width: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                }
                .hover{

                    opacity: 0;
                    transition: all linear .3s;
    
                    .overlay{
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background-color: #222222;
                        width: 100%;
                        border-radius:5px ;
                        opacity: .7;
                        animation: opacity ease-out .2s;
                        animation-fill-mode: forwards;
                    }
    
                    span{
    
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 6%;
    
                        svg{
                            animation: pause linear .2s;
                            animation-fill-mode: forwards;
                            width: 25px;
                            path{fill: #ffe819;}
                        }
                    }
                }
            }

        }

        .main__card{

            background-color: var( --live-card);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: .7rem 1rem;
            margin-top: -.3rem;
            position: relative;
            z-index: 10;

            .main__card_avatar{

                width: 54px;
                height: 54px;
                border-radius: 50%;
                overflow: hidden;
                float: left;

                img{
                    width: 100%; 
                    height: 100%;    
                }
            }


            .main__card_group{

                display: flex;
                justify-content: space-between;
                padding-left: 1rem;

                .main__card_mid{

                    a{
                        text-decoration: none;
                        color: var(--live-text-color);
                        h2{
                            font-size: 15px;
                        }
                        &:hover{
                            color: #622df7;
                        }
                    }
                    a{  
                        padding: .5rem 0;
                        span{

                            font-size: 12px;
                            opacity: .6;
                        }
                    }

                      
                        
                    div{

                        display: flex;
                        margin-top: .3rem;

                        label{
                            text-align: center;
                            border-radius: 5px;
                            font-size: 13px;
                            color: var(--live-text-color);
                            padding: .1rem .4rem;
                            background-color: var(--live--label);
                            opacity: .7;
                            display: block;
                            width: 50px;
                            margin-right: .5rem;
                        }
                    }
                }

                .main__card_view{

                    display: flex;
                    color: var(--live-text-color);
                    font-size: 13px;
                    margin-top: 2.8rem;

                    span{
                        padding: 0 .3rem;
                        svg{
                            width: 12px;
                            path{fill: var(--live-text-color);}
                        }
                    }
                    p{

                    }
                }
            }

        }
    }


@keyframes opacity{
    0%{opacity: .0;}

    50%{opacity: .4;}

    100%{opacity: .6;}
}
@keyframes pause{
    0%{opacity:.1111;width:40px ;}

    33%{opacity: .33333;width:35px ;}

    66%{opacity: .66666;width:30px ;}

    100%{opacity: 1;width:25px ;}
}
@keyframes pauset{
    0%{opacity:1;width:25px ;}

    33%{opacity: .66666;width:30px ;}

    66%{opacity: .33333;width:35px ;}

    100%{opacity: .11111;width:40px ;}
}