:root{

    --footer-text-color:white;
    --footer-background:#222222;
}
[data-theme="light"]{
    --footer-text-color:black;
    --footer-background:#f0f0f0;
}

.group{

    width: 1200px;
    margin: 0 auto;
    padding: 2rem 0 .5rem 0 ;

    .icon{
        
        display: flex;
        justify-content: center;
        align-items: center;

        svg{

            margin: 0 .8rem;
            width: 28px;
            
            path{

                fill: var(--footer-text-color);
                transition: all linear .3s;
            }
        }
    }

    .menu{

        margin-top: 1.5rem;

        .menu_list{

            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;

            .menu_item{

                padding: 0rem 2rem;
                position: relative;
                
                &::after{
                    content: "|";
                    position: absolute;
                    color: var(--footer-text-color);
                    font-size: 13px;
                    font-weight: 600;
                    right: 0;
                    bottom: 10%;
                    transition: all linear .3s;
                }

                a{

                    text-decoration: none;
                    color: var(--footer-text-color);
                    font-size: 14px;
                    transition: all linear .3s;
                    &:hover{
                        color: #622df7;
                    }
                }
            }
        }
    }

    .copyright{
        text-align: center;
        margin-top: 2rem;

        p{
            font-size: 13px;
            opacity: .7;
            color: var(--footer-text-color);
            transition: all linear .3s;
        }
    }
}